
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link text-white" routerLink="register">Register </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="normaluser">NormalUser</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  text-white" routerLink="audituser">
          AuditUser
        </a>
        <li class="nav-item ">
          <a class="nav-link  text-white" routerLink="dashboard">
            DashBoard
          </a>
         
       
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
      <a routerLink="login" class="text-white" *ngIf="ser.tmp">Login</a>
      
      <a routerLink="logout" class="text-white" *ngIf="!ser.tmp" (click)="funlogout()">Logout</a>
    </form>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>

</div>
